<div class="row">
<div class="nav fixed clear" >
    <ul>
      <li><%= link_to "Home", :home %></li>
      <li><%= link_to "Menu", :breakfast %></li>
      <li class="restaurantName">PRIMO
        <span class="mascot"><%= image_tag "mascot.png" %></span>
                        BURGERS
      </li>
      <li><%= link_to "Locations", :locations %></li>
      <li><%= link_to "About", :about %></li>
    </ul>
</div>
</div>
<div class="top-pic-wrapper heightMenuPic chalkboard">
	<div class="background-pic menu-wrapper">
	  <div class="row">
        <div class="menu-title">BREAKFAST  <span class="notSelectedMenu borderLeft"> <%= link_to 'Lunch&Dinner', :lunch%></span></div>
        <div class="allDay left">Served all day!</div>
        <div class="col-md-6 col-sm-6">
          <div class="item-title">EGGS  <i class="flaticon-egg4"></i></div>
      	  <ul class="menu-item">
      		<li>Two Eggs (Any Style)</li>
      		<li>Ham & Eggs</li>
      		<li>Bacon & Eggs</li>
      		<li>Sausage & Eggs</li>
      		<li>Hot Polish Sausage & Eggs</li>
      		<li>Hamburger Patty & Eggs</li>
      		<li>N.Y. Steak & Eggs</li>
      		<li>Pork Chops</li>
      		<li>Chicken Fried Steak</li>
      		<li>Country Breakfast</li>
      	  </ul>
        </div>
     
      <div class="col-md-6 col-sm-6">
      	<div class = "item-title">OMELETTES  <i class="flaticon-sunny2"></i></div>
      	<ul class="menu-item">
      		<li>Cheese Omelette</li>
      		<li>Cheese & Avocado Omelette</li>
      		<li>Ham & Cheese Omelette</li>
      		<li>Bacon & Cheese Omelette</li>
      		<li>Sausage & Cheese Omelette</li>
      		<li>Chili Cheese Omelette</li>
      		<li>Pastrami Omelette</li>
      		<li>Denver Omelette</li>
      	</ul>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">BREAKFAST SANDWICHES <i class="flaticon-sandwich"></i></div>
      	<ul class="menu-item">
          <li><p>(All Sandwiches Come on Toast with Mayo, Lettuce, Tomatoes)</p></li>
      		<li>Bacon or Sausage or Ham & Eggs</li>
      		<li>Polish Sausage & Eggs</li>
      		<li>Steak & Eggs</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">PANCAKES <i class="flaticon-pancake"></i></div>
      	<ul class="menu-item">
      		<li>1 Pancake or Single Stack</li>
      		<li>2 Pancakes or Double Stack</li>
      		<li>3 Pancakes or Triple Stack</li>
      		<li>French Toast</li>
      	</ul>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">BREAKFAST BURRITOS <i class="flaticon-bacon"></i></div>
      	<ul class="menu-item">
      		<li>Chorizo Burrito</li>
      		<li>Bacon Burrito</li>
      		<li>Sausage Burrito</li>
      		<li>Ham Burrito</li>
      		<li>Hot Polish Burrito</li>
      		<li>Combo Burrito - (2 Eggs Cheddar Cheese, Hash browns, Salsa)</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">KIDS BREAKFAST <i class="flaticon-female235"></i></div>
      	<ul class="menu-item">
          <li><p>(Offered With Choice of One Orange Juice or Milk)</p><li>
      		<li>2pc French Toast & 1 Egg (Any Style)</li>
      		<li>2 Mickey Mouse Pancakes & 1 Egg (Any Style)</li>
      		<li>Hash browns & 1 Egg (Any Style)</li>
      	</ul>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">SIDES <i class="flaticon-packed"></i></div>
      	<ul class="menu-item">
      		<li>Toast (White, Wheat, Sourdough, Rye or English Muffin)</li>
      		<li>1-Egg</li>
      		<li>2-Eggs</li>
      		<li>Hash browns</li>
      		<li>Bacon or Sausage</li>
      		<li>Ham or Polish Sausage</li>
      		<li>Steak or Chicken Breast</li>
      		<li>Gyro Meat</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">BEVERAGES  <i class="flaticon-hot51"></i></div> 
      	<ul class="menu-item">
      		<li>Cappuccino Mocha</li>
      		<li>Coffee</li>
      		<li>Shakes</li>
      		<li>Milk</li>
      		<li>Orange Juice</li>
      		<li>Hot Cocoa</li>
      		<li>Hot Tea</li>
      	</ul>
      </div>
    </div>

