<div class="top-pic-wrapper heightHomePic">
  <div class="background-pic">
    <figure id="slidy">
      <%= image_tag "burger.jpg" %>
      <%= image_tag "eggs.jpg" %>
      <%= image_tag "burrito.jpg" %>
      <%= image_tag "salad.jpg" %>
      <%= image_tag "wings.jpg" %>
    </figure>
  </div>
</div>
<div class="nav navbar-default clear">
  <div class="row">
    <ul>
      <li><%= link_to "menu", :breakfast %></li>
      <li class="restaurantName">PRIMO
          <span class="mascot"><%= image_tag "mascot.png" %></span>
           BURGERS
      </li>
      <li><%= link_to "Locations", :locations %></li>
    </ul>
  </div>
</div>
