<div class="row">
<div class="nav fixed clear" >
    <ul>
      <li><%= link_to "Home", :home %></li>
      <li><%= link_to "Menu", :breakfast %></li>
      <li class="restaurantName">PRIMO
        <span class="mascot"><%= image_tag "mascot.png" %></span>
                        BURGERS
      </li>
      <li><%= link_to "Locations", :locations %></li>
      <li><%= link_to "About", :about %></li>
    </ul>
</div>
</div>



