


<div class="row">
  <div class="nav fixed clear" >
    <ul>
      <li><%= link_to "Home", :home %></li>
      <li><%= link_to "Menu", :breakfast %></li>
      <li class="restaurantName">PRIMO
        <span class="mascot"><%= image_tag "mascot.png" %></span>
                        BURGERS
      </li>
      <li><%= link_to "Locations", :locations %></li>
      <li><%= link_to "About", :about %></li>
    </ul>
  </div>
</div>

<div class="heightAboutPage paperBackground aboutLeft">
    <div class="location ">
        <div class="row secBlock">
             <div class="col-md-5">
              <div class="aboutLeft">
              <%= image_tag "cosimo.png" %> <br><br>
             
            </div>
             </div>
             <div class="col-md-6">
                        <div class="locationFont pad">
                           
                            <h1 class="locationTitlefont bigFont"><!-- We Strive For Excelence --></h1>
                            <p class="smallFont">Since 1985, Primo Burgers has been delicious by design.
                                Our mission is to provide you with a variety of meal choices, made with
                                fresh premium ingredients, cooked to order at a reasonable price.</p> <br>
                            <p class="smallFont">Come for quick carry out or stay for a relaxing casual dining experience.</p><br>
                            <p class="smallFont">Primo Burgers The Best Food In Town!</p>
                        </div>
        </div><!-- /row -->

    </div><!-- /location -->
  </div>

</div>



