<div class="row">
  <div class="nav navbar-default fixed clear" >
  	<ul>
    	  <li><%= link_to "Home", :home %></li>
        <li class="restaurantName">PRIMO
            <span class="mascot"><%= image_tag "mascot.png" %></span>
             BURGERS
        </li>
    	  <li><%= link_to "Menu", :breakfast %></li>
      </ul>
  </div>
</div>

<div class="heightMenuPic paperBackground locationsPageWrapper">
  <div class="row paddingTop">
    <div class="col-md-6 col-sm-6 locationTitle">
      <div class="col-md-6 col-sm-6 locationFont">
        <h1 class="locationTitlefont">Primo #6</h1>
        <p>545 East Palmdale Blvd</p>
        <p>Palmdale, CA 93550</p>
        <p>(661) 267-0023</p>
      </div>
    
      <div class="col-md-6 col-sm-6 restaurantImage">
         <%= image_tag "primos6.gif" %>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-6 locationTitle">
      <div class="col-md-6 col-sm-6 locationFont">
        <h1 class="locationTitlefont">Primo #7</h1>
        <p>4654 East Ave S Suite E & F</p>
        <p>Palmdale, CA 93552</p>
        <p>(661) 533-6806</p>
      </div>
    
      <div class="col-md-6 col-sm-6 restaurantImage">
         <%= image_tag "primos7.gif"%>
      </div>

    </div>
  </div>

  <div class="row">
    <iframe   class="col-md-6 col-sm-6" src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3284.9614094495073!2d-118.11944000000001!3d34.579843!3m2!1i1024!2i768!4f13.1!2m1!1sprimo+%236!5e0!3m2!1sen!2sus!4v1424285846098" height="250" frameborder="0" style="border:0" ></iframe>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3285.870187861917!2d-118.04586800000003!3d34.556842!3m2!1i1024!2i768!4f13.1!2m1!1sprimo+%237!5e0!3m2!1sen!2sus!4v1424285932676"height="250" frameborder="0" style="border:0" class="col-md-6 col-sm-6"></iframe>

  </div>

  <div class="row paddingTop">
    <div class="col-md-6 col-sm-6">
      <div class="col-md-6 col-sm-6 locationFont">
        <h1 class="locationTitlefont">Primo #11</h1>
        <p>44275 North Division Street</p>
        <p>Lancaster, CA 93535</p>
        <p>(661) 723-8444</p>
      </div>
      <div class="col-md-6 col-sm-6 restaurantImage">
         <%= image_tag "primos11.gif" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="col-md-6 col-sm-6 locationFont">
        <h1 class="locationTitlefont">Primo #12</h1>
        <p>42157 50th Street West</p>
        <p>Quartz Hill, CA 93536</p>
        <p>(661) 722-2786</p>  
      </div>
      <div class="col-md-6 col-sm-6 restaurantImage">
         <%= image_tag "primos12.gif" %>
      </div>
    </div>
  </div>


  <div class="row">
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3280.7039747224594!2d-118.13081199999999!3d34.687419999999996!3m2!1i1024!2i768!4f13.1!2m1!1sprimo+%2311!5e0!3m2!1sen!2sus!4v1424286036033" height="250" frameborder="0" style="border:0" class="col-md-6 col-sm-6"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3282.223901053363!2d-118.218848!3d34.649048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c25c888ca3221f%3A0xd55f0e9adf1c2a50!2sPrimo+Burgers!5e0!3m2!1sen!2sus!4v1424286115999" height="250" frameborder="0" style="border:0" class="col-md-6 col-sm-6"></iframe>
  </div>

</div>
